html {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Slab', serif;
}

header {
  background-color: #a81e4d;
}

h1 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav {
  text-align: center;
}

.nav li {
  display: block;
  background-color: #ee5f9b;
}

.nav li:hover, .nav li:hover a{
  background-color: #f18eb5;
  color: #000;
}

button {
  background-color: #f18eb5;
  color: #000;
  border: 1px solid;
  border-radius: 11px;
}

button:hover {
  background-color: #98d8de;
}

footer {
  background-color: #459293;
}

footer p {
  color: #fff;
}

@media only screen and (min-width: 20em) {

  h1 {
    text-align: center;
  }

  footer p {
    text-align: center;
  }

}
